{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1,  shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    {% bootstrap_javascript jquery='slim' %}
</head>
<body class="container-fluid">
<header class="mb-4">
    <h1 class="display-1 text-center">Объявления</h1>
</header>
<section class="row bg-light">
    <ul class="col nav justify-content-end border">
        <li class="nav-item"><a class="nav-link root list-group-item list-group-item-action bg-light border-0" href="{% url 'main:register' %}">Регистрация</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle root list-group-item list-group-item-action bg-light border-0" data-toggle="dropdown" href="#"
               role="button" aria-haspopup="true" aria-expanded="false">Профиль</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'main:profile' %}">Мои объявления</a>
                <a class="dropdown-item" href="{% url 'main:profile_change' %}">Изменить личные данные</a>
                <a class="dropdown-item" href="{% url 'main:password_change' %}">Изменить пароль</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'main:logout' %}">Выйти</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'main:profile_delete' %}">Удалить</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'main:login' %}">Вход</a></li>
        {% endif %}
    </ul>
</section>
<section class="content">
    <div class="bg-light border-right sidenav" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <nav class="group-navigation col-md-auto nav flex-column">
                <a class="nav-link root list-group-item list-group-item-action bg-light" href="{% url 'main:index' %}">Главная</a>
                {% for group in groups %}
                {% ifchanged group.super_group.pk %}
                <span class="nav-link root font-weight-bold list-group-item list-group-item-action bg-light">
                {{ group.super_group.name }}</span>
                {% endifchanged %}
                <a class="nav-link list-group-item list-group-item-action bg-light"
                   href="{% url 'main:by_group' pk=group.pk %}">
                    {{ group.name }}</a>
                {% endfor %}
                <a class="nav-link root list-group-item list-group-item-action bg-light"
                   href="{% url 'main:other' page='about' %}">О сайте</a>
            </nav>
        </div>
    </div>

    <div class="content__container col-border py-2">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </div>
</section>
<footer class="mt-3">
    <p class="text-right font-italic">&copy; преподаватели, студенты 2019 г.</p>
</footer>
</body>
</html>